
/CloneFinder/obj
/CloneFinderCore/obj
/CloneFinderTests/obj
/CloneFinder/bin
/CloneFinderCore/bin
/CloneFinderTests/bin
/CloneFinderGUI/bin
/CloneFinderGUI/obj
/CloneFinder.suo
/CloneFinderGUI/CloneFinderGui.csproj.user
/CloneFinderTests/CloneFinderTests.csproj.user
/CloneFinder/CloneFinder.csproj.user
/CloneFinderTests/TestResult.xml
/CloneFinderFrontEnd/obj
/CloneFinderFrontEnd/bin
/Installer/CloneFinderSetup.msi
/Installer/CloneFinderSetup.wxs
/Installer/CloneFinderSetup.wixobj
/Installer/CloneFinderSetup.wixpdb
/CloneFinderFrontEnd/CloneFinderFrontEnd.csproj.user
/Installer/CloneFinder.wixpdb
/Installer/CloneFinder.wixobj