<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx ="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="{3EBCF124-F511-4E6C-AD49-5C387E6B4E1D}" Name="CloneFinder" Language="1033" 
           Version="1.2.0.0" 
           Manufacturer="Black Telescope Workshop" 
           UpgradeCode="3d5cff97-2d29-4f94-b281-b3a3ceab1053">
		<Package InstallerVersion="500" 
             Compressed="yes" 
             InstallScope="perMachine"
             Platform="x64" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="..\common\CloneFinderIcons.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />    
    
    <!-- .Net 4.6.2 Prerequisite -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>
    <!-- OS version prerequisite -->
    <Condition Message="64-bit Windows 7, Server 2008 SP2, or later are required.">
      <![CDATA[Installed OR (VersionNT >= 601 AND VersionNT64)]]>
    </Condition>

    <!-- Use the UI that allows an install directory to be chosen-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="X11 License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="TopBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="BigBanner.bmp" />
    <UIRef Id="WixUI_InstallDir" />



    <Feature Id="ProductFeature" Title="CloneFinderInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="CloneFinder" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="System.Data.SQLite.dll" Guid="{890500AD-CD22-4CCC-924D-7FEE11F63078}" Win64="yes">
        <File Id="System.Data.SQLite.dll"
              Source="$(var.CloneFinderFrontEnd.TargetDir)System.Data.SQLite.dll"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CloneFinderCore.dll" Guid="*" Win64="yes">
        <File Id="$(var.CloneFinderCore.TargetFileName)"
              Source="$(var.CloneFinderCore.TargetPath)"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CloneFinder.exe" Guid="*" Win64="yes">
        <File Id="$(var.CloneFinder.TargetFileName)"
              Source="$(var.CloneFinder.TargetPath)"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CloneFinder.exe.config" Guid="*" >
        <File Id="$(var.CloneFinder.TargetFileName).config"
              Source="$(var.CloneFinder.TargetPath).config"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CloneFinderFrontEnd.exe" Guid="*" Win64="yes">
        <File Id="$(var.CloneFinderFrontEnd.TargetFileName)"
              Source="$(var.CloneFinderFrontEnd.TargetPath)"
              KeyPath="yes">
        </File>
      </Component>
      <Component Id="CloneFinderFrontEnd.exe.config" Guid="*" >
        <File Id="$(var.CloneFinderFrontEnd.TargetFileName).config"
              Source="$(var.CloneFinderFrontEnd.TargetPath).config"
              KeyPath="yes">
        </File>
      </Component>
      
      
		</ComponentGroup>
	</Fragment>
</Wix>
