<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx ="http://schemas.microsoft.com/wix/NetFxExtension">
	<!-- Change Product Id, and Version with every new release -->
	<Product Id="*"
			   Name="CloneFinder" Language="1033"
			   Version="2.0.0.0"
			   Manufacturer="Black Telescope Workshop"
			   UpgradeCode="{D0A8A0C4-8680-4BEB-A7B8-74322E783F73}">
		<Package InstallerVersion="500"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Platform="x64" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />


		<Property Id="ARPPRODUCTICON" Value="CloneFinderIcons.ico" />

		<Condition Message="64-bit Windows is required.">
			<![CDATA[Installed OR VersionNT64]]>
		</Condition>

		<!-- Check if the user has administrator privileges -->
		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />

		<!-- Use the UI that allows an install directory to be chosen-->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<WixVariable Id="WixUILicenseRtf" Value="X11 License.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="TopBanner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="BigBanner.bmp" />
		<UIRef Id="WixUI_InstallDir" />


		<Feature Id="ProductFeature" Title="CloneFinderInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ProgramMenuDir"/>
		</Feature>
	</Product>

	<!-- Icon files -->
	<Fragment>
		<Icon Id="cmd.exe" SourceFile="$(env.ComSpec)"/>
		<Icon Id="CloneFinderIcons.ico" SourceFile="..\common\CloneFinderIcons.ico"/>
		<!-- we need a second entry for this icon file because the shortcuts won't show
         the proper icon if the Icon element's Id doesn't end in exe.
     -->
		<Icon Id="CloneFinderFrontEnd.exe" SourceFile="..\common\CloneFinderIcons.ico"/>
	</Fragment>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="DesktopFolder" Name="Desktop"/>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="CloneFinder" />
			</Directory>
			<!-- Start menu and Desktop Shortcut directories -->
			<Directory Id="ProgramMenuFolder" >
				<Directory Id="ProgramMenuDir" Name="CloneFinder">
					<Component Id="ProgramMenuDir" Guid="{B841C88B-647C-4EDF-A743-6FBFD080BF15}">
						<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
						<RegistryValue Root="HKMU" Key="Software\[ProductName]" Type="string" Value="" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>


	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="CloneFinder.exe" Guid="*" Win64="yes">
				<File Id="CloneFinder.exe"
					  Source="$(var.CloneFinder.TargetDir)publish\win-x64\CloneFinder.exe"
					  KeyPath="yes">
				</File>
			</Component>
			<Component Id="CloneFinderShell.bat" Guid="*" Win64="yes">
				<File Id="CloneFinderShell.bat"
					  Source="$(var.CloneFinder.TargetDir)publish\win-x64\CloneFinderShell.bat"
					  Name="CloneFinderShell.bat" KeyPath="yes" >
					<!--
					<Shortcut Id="CloneFinderShellDesktopShortcut"
						Directory="DesktopFolder"
						Name="CloneFinder Shell"
						Description="CloneFinder shell with path setting"
						WorkingDirectory="INSTALLFOLDER"
						IconIndex="0"
						Icon="cmd.exe"
						Advertise="yes" >
					</Shortcut>
					-->
					<Shortcut Id="CloneFinderShellProgramMenuShortcut"
					  Directory="ProgramMenuDir"
					  Name="CloneFinder Shell"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon="cmd.exe"
					  IconIndex="0"
					  Advertise="yes">
					</Shortcut>
				</File>
			</Component>
			<Component Id="CloneFinderFrontEnd.exe" Guid="*" Win64="yes">
				<File Id="CloneFinderFrontEnd.exe"
					  Source="$(var.CloneFinderFrontEnd.TargetDir)publish\win-x64\CloneFinderFrontEnd.exe"
					  KeyPath="yes">
					<!--
					<Shortcut Id="CloneFinderFrontEndDesktopShortcut"
						Directory="DesktopFolder"
						Name="CloneFinder"
						Description="CloneFinder GUI"
						WorkingDirectory="INSTALLFOLDER"
						Icon="CloneFinderFrontEnd.exe"
						IconIndex="0"
						Advertise="yes" >
					</Shortcut>
					-->
					<Shortcut Id="CloneFinderFrontEndProgramMenuShortcut"
					  Directory="ProgramMenuDir"
					  Name="CloneFinder"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon="CloneFinderFrontEnd.exe"
					  IconIndex="0"
					  Advertise="yes">
					</Shortcut>
				</File>
			</Component>
			<Component Id="CloneFinderFrontEnd.dll.config" Guid="*" >
				<File Id="$(var.CloneFinderFrontEnd.TargetFileName)"
					  Source="$(var.CloneFinderFrontEnd.TargetDir)publish\win-x64\$(var.CloneFinderFrontEnd.TargetFileName).config"
					  KeyPath="yes">
				</File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
