<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="$(ProductName)" Language="1033" Version="$(ProductVersion)" Manufacturer="$(ProductManufacturer)" UpgradeCode="{D0A8A0C4-8680-4BEB-A7B8-74322E783F73}" Scope="perMachine">
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="no" />
		<MediaTemplate EmbedCab="yes" />

		<Launch Condition="Installed OR (VersionNT &gt;= 603)" Message="Windows 8.1/Server 2012R2 or newer are required." />
		
		<Property Id="ARPPRODUCTICON" Value="CloneFinderIcons.ico" />
		<!-- Check if the user has administrator privileges -->
		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />
		<!-- Use the UI that allows an install directory to be chosen-->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<WixVariable Id="WixUILicenseRtf" Value="X11 License.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="TopBanner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="BigBanner.bmp" />
		<ui:WixUI Id="WixUI_InstallDir" />


		<Feature Id="ProductFeature" Title="CloneFinder" Level="1" AllowAbsent="no">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="EnvironmentChanges" />
			<ComponentRef Id="ProgramMenuDir" />
		</Feature>
	</Package>

	<!-- Icon files -->
	<Fragment>
		<Icon Id="CloneFinderIcons.ico" SourceFile="..\common\CloneFinderIcons.ico" />
		<!-- we need a second entry for this icon file because the shortcuts won't show
         the proper icon if the Icon element's Id doesn't end in exe.
     -->
		<Icon Id="CloneFinderFrontEnd.exe" SourceFile="..\common\CloneFinderIcons.ico" />
	</Fragment>

	<Fragment>
			<StandardDirectory Id="DesktopFolder" />
			<StandardDirectory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="CloneFinder" />
			</StandardDirectory>
			<!-- Start menu and Desktop Shortcut directories -->
			<StandardDirectory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuDir" Name="CloneFinder">
					<Component Id="ProgramMenuDir" Guid="{B841C88B-647C-4EDF-A743-6FBFD080BF15}">
						<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
						<RegistryValue Root="HKMU" Key="Software\[ProductName]" Type="string" Value="" KeyPath="yes" />
					</Component>
				</Directory>
			</StandardDirectory>
		</Fragment>


	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="CloneFinder.exe" Bitness="always64">
				<File Id="CloneFinder.exe" Source="$(var.CloneFinder.TargetDir)publish\win-x64\CloneFinder.exe" KeyPath="yes">
				</File>
			</Component>
			<Component Id="CloneFinderFrontEnd.exe" Bitness="always64">
				<File Id="CloneFinderFrontEnd.exe" Source="$(var.CloneFinderFrontEnd.TargetDir)publish\win-x64\CloneFinderFrontEnd.exe" KeyPath="yes">
					<!--
					<Shortcut Id="CloneFinderFrontEndDesktopShortcut"
						Directory="DesktopFolder"
						Name="CloneFinder"
						Description="CloneFinder GUI"
						WorkingDirectory="INSTALLFOLDER"
						Icon="CloneFinderFrontEnd.exe"
						IconIndex="0"
						Advertise="yes" >
					</Shortcut>
					-->
					<Shortcut Id="CloneFinderFrontEndProgramMenuShortcut" Directory="ProgramMenuDir" Name="CloneFinder" WorkingDirectory="INSTALLFOLDER" Icon="CloneFinderFrontEnd.exe" IconIndex="0" Advertise="yes">
					</Shortcut>
				</File>
			</Component>
			<Component Id="CloneFinderFrontEnd.dll.config">
				<File Id="$(var.CloneFinderFrontEnd.TargetFileName)" Source="$(var.CloneFinderFrontEnd.TargetDir)publish\win-x64\$(var.CloneFinderFrontEnd.TargetFileName).config" KeyPath="yes">
				</File>
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="EnvironmentChanges" Directory="TARGETDIR">
			<Component Id="SystemPathUpdate" Guid="{2719B63C-2DA7-422F-9DE1-A9564BD7FC34}">
				<!-- add CloneFinder to the system path -->
				<Environment Id="CLONEFINDERPATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
